<h2>Recherche</h2>

<label>Homme/Femme/Martien : </label>


<form>
    <input type="radio" name="idCivilite" value="1" ng-model="idCivilite" checked>Homme
    <br>
    <input type="radio" name="idCivilite" ng-model="idCivilite" value="2">Femme
    <br>
    <input type="radio" name="idCivilite" ng-model="idCivilite" value="3">Martien
    <br>
    <SELECT name="idCentreInteret" size="1" ng-model="idCentreInteret">
        <OPTION ng-repeat="item in listeInteret" value="{{item.id}}">{{ item.label }}
    </SELECT>
</form>
<a href = "#/resultat/{{idCentreInteret}}/{{idCivilite}}">Recherche</a>
